Conda-Python-work/wiki_crop/
Conda-Python-work/.index
Conda-Python-work/Pointnet_one_tnet.index
Conda-Python-work/.ipynb_checkpoints/
Conda-Python-work/temp.jpg
Conda-Python-work/wiki_crop.tar
Conda-Python-work/Untitled.ipynb
.ipynb_checkpoints/
Conda-Python-work/wiki_crop/00/labaled_data.json
Conda-Python-work/Pointnet_OG.index
Conda-Python-work/Our_images/
Conda-Python-work/logs/
Conda-Python-work/challenges-in-representation-learning-facial-expression-recognition-challenge/
Conda-Python-work/Lipreading_using_Temporal_Convolutional_Networks/
Conda-Python-work/Saved_resnet_weights.data-00000-of-00001
Conda-Python-work/Saved_resnet_weights.index
Conda-Python-work/labeled_images.h5
Conda-Python-work/our_labaled_data.json
Conda-Python-work/Pointnet.data-00000-of-00001
Conda-Python-work/Pointnet.index
Conda-Python-work/Pointnet_expanded_our2.data-00000-of-00001
Conda-Python-work/Pointnet_expanded_our2.index
Conda-Python-work/training_dataset
Conda-Python-work/checkpoint_